<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overshifted.godottapsell">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotTapsell"
            android:value="com.overshifted.godottapsell.GodotTapsell" />
    </application>
</manifest>